{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}

<hr />
<div class="row">
	<div class="col-md-12" >
		<p class="highlight">I have graduated and currently seeking full time positions in industry and academia.
        </p>
    </div>
</div>
<div class="row" id="about">
    <div class="col-md-12">
        <h1 class="header">About</h1>
    </div>
	<div class="col-md-8">
		<p>
        As a PhD student I worked with the Architecture Research Group at <a target="_blank" href="https://www.sfu.ca/computing.html">Simon Fraser University</a> advised by <a target="_blank" href="https://www.cs.sfu.ca/~ashriram/">Arrvindh Shriraman</a>. I was also supervised by <a target="_blank" href="www.cs.sfu.ca/~wsumner/">Nick Sumner</a>, <a target="_blank" href="researcher.ibm.com/view.php?person=us-viji"> Viji Srinivasan</a> and <a target="_blank" href="https://www.ece.ubc.ca/~sasha/">Sasha Fedorova</a>.
            My research can be broadly described as generalized methods for application specific hardware specialization.
            I have worked on cache memory systems, coherence protocols, workload characterization and application specific hardware
            specialization. 
            <br/>
            <br/> Publications : <b>HPCA'17, IISWC'16, MICRO'16, ICS'16, ISCA'15, ICS'15, ISCA'13, MICRO'12</b>
            <br/>
            <br/> Contact : 
            <img src="{{ SITEURL }}/theme/images/email.svg" class="img-responsive" width="40%"/>
            <br/>
            Resume: 
            <a target="_blank" href="{{ SITEURL }}/docs/resume.pdf"><img src="{{ SITEURL }}/theme/images/pdf.svg" class="img-responsive" width="10%"/></a>
        </p>
	</div>
	<div class="col-md-4">
		<img src="{{ SITEURL }}/theme/images/snehasish_kumar.jpg" class="img-responsive pull-right" width="85%" />
	</div>
</div>
<!--<div class="row" id="cv">-->
    <!--<div class="col-md-2">-->
            <!--Resume (1 pg): -->
            <!--<a target="_blank" href="{{ SITEURL }}/docs/resume.pdf"><img src="{{ SITEURL }}/theme/images/pdf.svg" class="img-responsive" width="30%"/></a>-->
    <!--</div>-->
<!--</div>-->
<hr/>
<div class="row" id="research">
    <div class="col-md-12" >
        <h1 class="header"> Research</h1>
    </div>
    <div class="col-md-12" >
        <p class="research-p">
        The need for computational power has increased with emerging workloads such as 
        machine learning driving the information economy. 
        Yet data center and embedded computing alike
        desire reduced power consumption. 
        With the breakdown of semiconductor technology scaling, we no longer attain improved
        performance and reduced energy consumption by using smaller transistors. 
        The semiconductor industry has  
        resorted to hardware specialization as a means to provide the 
        performance and energy benefits consumers have experienced since the
        invention of the microprocessor. However, specialized hardware units
        introduce new challenges, namely -- what to specialize,
        how to specialize and how to integrate specialized units. Current approaches require 
        manual effort to analyse, restructure and rewrite workloads to take advantage 
        of specialized hardware accelerators. 
        <br/>
        <br/>
        My research has focused on automated compiler techniques with a goal
        of specialization. 
        It is the first to directly address the problems of 
        what to specialize and how to specialize program 
        regions in large, irregular workloads. 
        I recognized the utility of adapting program analysis 
        techniques to address the problem.
        My work at IISWC'16 demonstrates that analyses at coarser granularities 
        smears characteristics critical to hardware specialization. 
        Using a methodology adapted from program analysis, 
        I have synthesized an accelerator workload suite to assist researchers. 
        I have also developed program abstractions to ease the mapping of irregular
        programs onto specialized hardware accelerators (HPCA'17).
        The tools I have built are available as free and
        open source software. Built upon a modern compiler framework, 
        they allow researchers to easily reproduce and extend the work that I have done.
        <br/>
        <br/>
        In addition to this line of work, I have also conducted research on mitigating
        energy consumption due to extraneous data movement.
        In our work presented at ISCA'15, we showed the utility of time-stamp based coherence 
        protocols to reduce the overhead of data movement in accelerator rich architectures. 
        It allows for close integration of multiple specialized units 
        while easing the programming burden of explicit data transfers. 
        Furthermore, I have designed and evaluated adaptive granularity caching mechanisms to
        eliminate waste (MICRO'12). This technique also provides a convenient substrate 
        for subsequent optimizations such as cache compression. 

        </p>
    </div>
</div>
<hr />

<div class="row" id="contact">
    <div class="col-md-12" >
        <h1 class="header"> Contact</h1>
    </div>
	<div class="col-md-4">
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/snehasish-kumar-0b996b51" data-format="inline" data-related="false"></script>
	</div>
	<div class="col-md-4">
        <p>Contact: <br/>
        TASC1 8208, <br/> 
        Simon Fraser University, BC, <br/>
        Canada V5A1S6 <br/>
        </p>
		<img src="{{ SITEURL }}/theme/images/email.svg" class="img-responsive" width="75%"/>
	</div>
	<div class="col-md-4">
        <p>Links: <br/>
        <a target="_blank" href="https://www.github.com/snehasish">github.com/snehasish</a> <br/>
        <a target="_blank" href="https://www.github.com/sfu-arch">github.com/sfu-arch</a> <br/>
        <a target="_blank" href="https://www.semanticscholar.org/author/Snehasish-Kumar/2373761">Semantic Scholar</a> <br/>
        <a target="_blank" href="https://scholar.google.ca/citations?user=e7heAqoAAAAJ&hl=en">Google Scholar</a> 
        </p>
    </div>
</div>
<hr />
<div class="row" id="publications">
    <div class="col-md-12" >
        <h1 class="header">Publications <span class="pub-list-link"><a  target="_blank" href="{{ SITEURL }}/docs/list.pdf">&nbsp;(List as PDF)</a></span></h1>
        
    </div>
    {% include "pubs.html" %}
</div>


{% endblock content %}
