<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Needle : Leveraging Program Analysis to Extract Accelerators from Whole Programs </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Nick Sumner, Vijayalakshmi Srinivasan, Steve Margerm, Arrvindh Shriraman </span> <br/>
<span class="pub-booktitle"> Proceedings of the 23rd ACM International Conference on High Performance Computer Architecture </span> <br/>
<span class="pub-year"> 2017 </span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Peruse and Profit: Estimating the Accelerability of Loops </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Vijayalakshmi Srinivasan, Amirali Sharifian, Nick Sumner, Arrvindh Shriraman </span> <br/>
<span class="pub-booktitle"> Proceedings of the 2016 International Conference on Supercomputing </span> <br/>
<span class="pub-year"> 2016 </span>
<span class="pub-url"><a  target="_blank" href=" http://doi.acm.org/10.1145/2925426.2926269 ">[url]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> SPEC-AX : Extracting Accelerator Benchmarks from Microprocessor Benchmarks </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Nick Sumner, Arrvindh Shriraman </span> <br/>
<span class="pub-booktitle"> Workload Characterization (IISWC), 2016 IEEE International Symposium on </span> <br/>
<span class="pub-year"> 2016 </span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> ChainSaw : Creating Von-Neumann Accelerators with Fused Instruction Chains </span> <br/>
<span class="pub-author"> Amirali Sharifian, <span class="myname">Snehasish Kumar</span>, Apala Guha, Arrvindh Shriraman </span> <br/>
<span class="pub-booktitle"> Proceedings of the 49th Annual IEEE/ACM International Symposium on Microarchitecture </span> <br/>
<span class="pub-year"> 2016 </span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Fusion: Design Tradeoffs in Coherent Cache Hierarchies for Accelerators </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Arrvindh Shriraman, Naveen Vedula </span> <br/>
<span class="pub-booktitle"> Proceedings of the 42Nd Annual International Symposium on Computer Architecture </span> <br/>
<span class="pub-year"> 2015 </span>
<span class="pub-url"><a  target="_blank" href=" http://doi.acm.org/10.1145/2749469.2750421 ">[url]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> DASX: Hardware Accelerator for Software Data Structures </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Naveen Vedula, Arrvindh Shriraman, Vijayalakshmi Srinivasan </span> <br/>
<span class="pub-booktitle"> Proceedings of the 29th ACM on International Conference on Supercomputing </span> <br/>
<span class="pub-year"> 2015 </span>
<span class="pub-url"><a  target="_blank" href=" http://doi.acm.org/10.1145/2751205.2751231 ">[url]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Protozoa : Adaptive Granularity Cache Coherence </span> <br/>
<span class="pub-author"> Hongzhou Zhao, Arrvindh Shriraman, <span class="myname">Snehasish Kumar</span>, Sandhya Dwarkadas </span> <br/>
<span class="pub-booktitle"> Proceedings of the 40th Annual International Symposium on Computer Architecture </span> <br/>
<span class="pub-year"> 2013 </span>
<span class="pub-url"><a  target="_blank" href=" http://doi.acm.org/10.1145/2485922.2485969 ">[url]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Architectural Support for a Variable Granularity Cache Memory System </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span> </span> <br/>
<span class="pub-year"> 2013 </span>
<span class="pub-url"><a  target="_blank" href=" http://summit.sfu.ca/item/12771 ">[url]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Amoeba-Cache : Adaptive Blocks for Eliminating Waste in the Memory Hierarchy </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Hongzhou Zhao, Arrvindh Shriraman, Eric Matthews, Sandhya Dwarkadas, Lesley Shannon </span> <br/>
<span class="pub-booktitle"> Proceedings of the 45th Annual IEEE/ACM International Symposium on Microarchitecture </span> <br/>
<span class="pub-year"> 2012 </span>
<span class="pub-url"><a  target="_blank" href=" http://dx.doi.org/10.1109/MICRO.2012.42 ">[url]</a></span>
</p></div>
