<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Needle: Leveraging Program Analysis to Extract Accelerators from Whole Programs </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Nick Sumner, Vijayalakshmi Srinivasan, Steve Margerm, Arrvindh Shriraman </span>
<br/> <span class="pub-booktitle"> 23rd ACM International Conference on High Performance Computer Architecture </span>
<span class="pub-rate"> ( Acceptance rate =  22% )</span>
<br/> <span class="pub-year"> 2017 </span>
<span class="pub-url"><a  target="_blank" href=" http://www.snehasish.net/docs/kumar-hpca17.pdf ">[paper]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Peruse and Profit: Estimating the Accelerability of Loops </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Vijayalakshmi Srinivasan, Amirali Sharifian, Nick Sumner, Arrvindh Shriraman </span>
<br/> <span class="pub-booktitle"> 30th ACM International Conference on Supercomputing </span>
<span class="pub-rate"> ( Acceptance rate =  24% )</span>
<br/> <span class="pub-year"> 2016 </span>
<span class="pub-url"><a  target="_blank" href=" http://www.snehasish.net/docs/kumar-ics16.pdf ">[paper]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> SPEC-AX: Extracting Accelerator Benchmarks from Microprocessor Benchmarks </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Nick Sumner, Arrvindh Shriraman </span>
<br/> <span class="pub-booktitle"> 2016 IEEE International Symposium on Workload Characterization </span>
<span class="pub-rate"> ( Acceptance rate =  30% )</span>
<br/> <span class="pub-year"> 2016 </span>
<span class="pub-url"><a  target="_blank" href=" http://www.snehasish.net/docs/kumar-iiswc16.pdf ">[paper]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> ChainSaw: Creating Von-Neumann Accelerators with Fused Instruction Chains </span> <br/>
<span class="pub-author"> Amirali Sharifian, <span class="myname">Snehasish Kumar</span>, Apala Guha, Arrvindh Shriraman </span>
<br/> <span class="pub-booktitle"> 49th Annual IEEE/ACM International Symposium on Microarchitecture </span>
<span class="pub-rate"> ( Acceptance rate =  22% )</span>
<br/> <span class="pub-year"> 2016 </span>
<span class="pub-url"><a  target="_blank" href=" http://www.snehasish.net/docs/sharifian-micro16.pdf ">[paper]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Fusion: Design Tradeoffs in Coherent Cache Hierarchies for Accelerators </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Arrvindh Shriraman, Naveen Vedula </span>
<br/> <span class="pub-booktitle"> 42nd Annual International Symposium on Computer Architecture </span>
<span class="pub-rate"> ( Acceptance rate =  19% )</span>
<br/> <span class="pub-year"> 2015 </span>
<span class="pub-url"><a  target="_blank" href=" http://www.snehasish.net/docs/kumar-isca15.pdf ">[paper]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> DASX: Hardware Accelerator for Software Data Structures </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Naveen Vedula, Arrvindh Shriraman, Vijayalakshmi Srinivasan </span>
<br/> <span class="pub-booktitle"> 29th ACM International Conference on Supercomputing </span>
<span class="pub-rate"> ( Acceptance rate =  25% )</span>
<br/> <span class="pub-year"> 2015 </span>
<span class="pub-url"><a  target="_blank" href=" http://www.snehasish.net/docs/kumar-ics15.pdf ">[paper]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Protozoa: Adaptive Granularity Cache Coherence </span> <br/>
<span class="pub-author"> Hongzhou Zhao, Arrvindh Shriraman, <span class="myname">Snehasish Kumar</span>, Sandhya Dwarkadas </span>
<br/> <span class="pub-booktitle"> 40th Annual International Symposium on Computer Architecture </span>
<span class="pub-rate"> ( Acceptance rate =  19% )</span>
<br/> <span class="pub-year"> 2013 </span>
<span class="pub-url"><a  target="_blank" href=" http://www.snehasish.net/docs/zhao-isca13.pdf ">[paper]</a></span>
</p></div>
<div class="col-md-12"><p class="pub-p">
<span class="pub-title"> Amoeba-Cache: Adaptive Blocks for Eliminating Waste in the Memory Hierarchy </span> <br/>
<span class="pub-author"> <span class="myname">Snehasish Kumar</span>, Hongzhou Zhao, Arrvindh Shriraman, E. Matthews, S. Dwarkadas, L. Shannon </span>
<br/> <span class="pub-booktitle"> 45th Annual IEEE/ACM International Symposium on Microarchitecture </span>
<span class="pub-rate"> ( Acceptance rate =  18% )</span>
<br/> <span class="pub-year"> 2012 </span>
<span class="pub-url"><a  target="_blank" href=" http://www.snehasish.net/docs/kumar-micro12.pdf ">[paper]</a></span>
</p></div>
