{% extends "base.html" %}
{% set active_page = "category" %}
{% block content %}
<section id="content">
<!-- {% block content_title %}
<h3>All articles in {{ category }}</h3>
{% endblock %}
 -->
<ol id="post-list">
{% for article in articles_page.object_list %}
        <li><article class="hentry">
                <h4 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h4>
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}