{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}

<br />
<br />
<br />
<br />

<div class="row">
	<div class="span4">
		<img src="{{ SITEURL }}/theme/img/snehasish_kumar.png" class="img-polaroid" />
	</div>
	<div class="span8">
		<p>I am a graduate student at Simon Fraser University (SFU) pursuing a PhD. I work with the Systems Networking and Architecture Research (SYNAR) group at SFU under the supervision of Dr. Arrvindh Shriraman. I joined SFU in Spring 2011 and completed my MSc in Spring 2013. My research interests include Multicore Architectures, Cache Memory Systems, Heterogeneous Architectures and GPGPU systems. I am currently working as a short term research scholar at IBM, T. J. Watson Research Centre. </p>

		<p>I hail from Calcutta, India and I am an alumnus of St. James's School. I received my undergraduate degree from Biju Patnaik University of Technology in 2010. My hobbies include playing video games, reading speculative fiction and tinkering with my phone. I like coding in C/C++ though I would really like to learn a functional language soon. </p>
	</div>
</div>

{% endblock content %}
